{% if title or post.title %}
    <h1 class="{{ header|default('article') }}__heading{% if alignment %} align-{{ alignment }}{% endif %}">
        {% if title %}
            {{ title }}
        {% elseif post.title %}
            {{ post.title }}
        {% endif %}
    </h1>
{% endif %}
