{% extends "base-archive.twig" %}

{% block content %}

    {% if posts|length > 0 %}
        {% include 'partials/overview.twig' with {
            'posts' : posts
        } %}
    {% else %}
        <p>{{ __( 'No results.', 'boilerplate' ) }}</p>
    {% endif %}

{% endblock %}
