{% if post.thumbnail %}
    {% set image = TimberImage(post.thumbnail) %}
{% endif %}

<div class="archive-result">

     <div class="media">
        {{ macro.image(image, 'thumbnail', options.fallback_images.default) }}
    </div>

    <h2 class="archive-result__heading">
        <a class="archive-result__link" href="{{ post.link }}">
            {{ post.title }}
        </a>
    </h2>

    <p class="archive-result__excerpt">
        {{ get_preview( post, 35 ) }}
    </p>

</div>
