<header class="widget__header{% if modifier %} widget__header--{{ modifier }}{% endif %}">
    <h4 class="widget__heading{% if modifier %} widget__heading--{{ modifier }}{% endif %}">
        {{ widget_title }}
    </h4>
</header>
